[submodule "ScriptingDefineManager"]
	path = ScriptingDefineManager
	url = ../SKTools.ScriptingDefineManager.git
[submodule "EditorCoroutine"]
	path = EditorCoroutine
	url = ../SKTools.EditorCoroutine.git
